 <script> 
        document.getElementByClassName("btn").addEventListener("click", function(event){
                                   console.log("hell00000")
                                   });
</script>

</body>
</html>
